<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shang.backendquestionservice.mapper.UserCommentsMapper">

    <resultMap id="BaseResultMap" type="com.shang.backendmodel.model.entity.UserComments">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="questionid" column="questionId" jdbcType="BIGINT"/>
            <result property="commentcontent" column="commentContent" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="likescount" column="likesCount" jdbcType="INTEGER"/>
            <result property="collectscount" column="collectsCount" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,questionId,commentContent,
        createTime,updateTime,isDelete,
        likesCount,collectsCount
    </sql>
</mapper>
